.title {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.menu a {
  color: #fff ;
  text-decoration: none !important;
  font-weight: 300 !important;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.menu a:hover {
  color: #10ac60 !important;
}

.active {
  color: #69f0ae !important;
}