<mat-card class="character-card" *ngIf="character">
  <mat-card-title-group>
    <mat-card-title>{{character.name}}</mat-card-title>
    <mat-card-subtitle>
      
      <b>Ubicación</b><br>
      {{character.location?.name || 'Unknown'}}<br>
      <b>Género</b><br>
      {{character.gender}}<br>

    </mat-card-subtitle>
    <img mat-card-md-image [src]="character.image" [alt]="character.name">
  </mat-card-title-group>

  <mat-card-content>
    <span *ngIf="episode">
      <b>Aparece en</b><br>
      <a [routerLink]="['/episode', episode.id]">
        {{episode.name}} ({{episode.episode}})<br>
      </a>
    </span>
  </mat-card-content>

  <mat-checkbox 
    class="card-selector" 
    matTooltip="Selecciona para comparar"
    #selector="matCheckbox"
    [ngClass]="{'avalible': api.selecterCount > 0}"
    [disabled]="api.selecterCount >= 3 && selector.checked == false"
    (change)="toggleCharacter($event)"
  ></mat-checkbox>
</mat-card>